/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

.banner-home {
  background-image: url(image-path('banner-photo.jpg'));
  background-position: center;
  background-size: cover;
  min-height: 630px;
  height: 90vh;
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    color: white;
    padding: 10px;
  }
  h1 {
    color: white;
  }
}

.banner-content {
  flex: 0 0 200px;
}

.card {
  position: relative;
  margin: 40px 10px;
  padding: 20px;
  height: 20vh;
  @media (max-width: $screen-xs) {
   height: 50vh;
   }
  img {
    position: absolute;
  }
  h3 {
    position: absolute;
    left: 120px;
    top: 0px;
    color: white;
  }
  p {
    position: absolute;
    top: 35px;
    left: 120px;
    color: white;
  }
}

#home-img {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  img {
    width: 50%;
    margin: 20px 0;
    @media (max-width: $screen-sm) {
      width: 35%;
    }
  }
  h3 {
  position: absolute;
  left: 120px;
  top: 0px;
  color: white;
  }
  p {
  position: absolute;
  top: 35px;
  left: 120px;
  color: white;
  }
}

#description {
  margin: 80px;
}

.presse-container {
  margin-top: 50px;
}
