
<!-- footer  -->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <%= image_tag "logo-white.png", id:"logo-footer" %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <ul class="list-inline text-center">
          <li>qui sommes-nous?</li>
          <li>FAQ</li>
          <li>espace presse</li>
          <li>contact</li>
          <li>CNIL</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2">
        <%= image_tag "logo-BFA.png", id:"bfa-footer" %>
      </div>
    </div>
  </div>
</div>
