<!-- footer  -->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <%= image_tag "logo-white.png", id: "logo-footer", class: "hidden-xs" %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <ul class="text-center">
          <li>Qui sommes-nous?</li>
          <li>FAQ</li>
          <li>Presse</li>
          <li>contact</li>
          <li>CNIL</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2">
        <%= image_tag "logo-BFA.png", class: "hidden-xs" %>
      </div>
    </div>
  </div>
</div>
