.footer {
  background-color: $brand-color;
  ul {
    margin-top: 10px;
    color: white;
    list-style: none;
  }
  img {
    width: 75%;
    margin: 10px 0;
  }
}

#logo-footer {
  width: 65%;
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
