.footer {
  background-color: $brand-color;
}

.footer ul {
  margin-top: 110px;
  color: white;
}

#logo-footer {
  width: 100px;
  height: auto;
  margin-top : 30px;
}

#bfa-footer {
  width: 160px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
