
.banner-sessions {
  background-image: url(image-path('femmealongee.jpg'));
  background-position: center;
  background-size: cover;
  min-height: 260px;
  width: auto;
  padding-top: 160px;
}

.banner-sessions h3 {
  color: white;
}

.sessions {
  margin: 80px 110px 0 110px;
}

.session-card {
  position: relative;
  height: 200px;
  border-style: groove;
  box-shadow: 2px 1px 1px grey;
  a {
    position: absolute;
    right: 40px;
    bottom: 80px;
  }
}

.price {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.text-session {
  position: absolute;
  left: 80px;
  top: 65px;
  font-size: 20px;
}

.date {
  position: absolute;
  right: 150px;
  top: 76px;
  background-color: $brand-color;
  color: white;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 6%;
  p {
    padding: 2px;
    color: white;
  }
  }


.navbar {
  position: relative;
  height: 70px;
  width: auto;
}

.navbar ul {
  position: absolute;
  left: 100px;
  top: 21px;
  color: white;
}

.navbar li {
  margin: 0px;
}

#logo-nav {
  width: 40px;
  height: auto;
  margin: 10px 0 0 15px;
}
